body {
  background-color: #F5DCE0;
  font-family: Times New Roman;
  margin-left:50px;
  margin-right:50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

img:hover {
  width: 500px;
}

h1 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
